<div class="banner mb-5">
  <div class="container">
    <h1>Thirsty Beaver</h1>
    <p>Find your perfect cocktail</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% unless @cocktails.nil? %>
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category mt-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <span><%= cocktail.name %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= link_to new_cocktail_path do %>
        <div class="card-category mt-3 mb-3" id="add-cocktail" style="background: radial-gradient(rgba(185,185,185,1) 0%, rgba(135,135,135,1) 100%)">
          <span>Add Cocktail</span>
        </div>
      <% end %>
    </div>
  </div>
</div>

