<div class="banner mb-5">
  <div class="container">
    <h1>Create a new cocktail!</h1>
    <p>What's it going to be?</p>
  </div>
</div>
<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, label: "Cocktail name" %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>

<script>
  const addCocktail = document.querySelector('input[type="submit"]');;
  addCocktail.addEventListener("click", (event) => {
    swal("New cocktail added!", "", "success");
  });
</script>


